h1{
	margin: ($std-margin*2) 0;
}
h2{
	margin: ($std-margin*4) 0 $std-margin 0;
}

.content{
	font-size: $std-font-size;
	border:1px solid #ddd;
	background: #f2f2f2;
	min-height: $std-margin * 3;
	text-align: center;
	line-height: $std-margin * 3;
	&:after{
		font-size: $std-font-size - 0.1;
		display: block;
	}	
}