/* yafgs */

.feckin-grid{
	*, 
	*:after, 
	*:before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	max-width: $grid-max-width;
	margin: $std-margin auto;
	@media screen and (max-width: 767px) {
		margin: $std-margin;
	}
	.a-feckin-row{
		display: block;
		position: relative;
		.a-feckin-column{
			margin: $std-margin 0 0 0;
			float:left;
			padding: 0 ($std-padding/2);
			&:after{
				content: "";
				clear: both;
				display: table;
			}
			&.centered{
				margin: 0 auto;
			}
			/* 12 Column Grid Widths */
			@for $i from 1 through 12{
				&.width-#{$i}-in-12 {
					$twelve-col: (12/($i*12))*100%;
					width: $twelve-col;
					.content:after{
						content: "(#{$twelve-col})";
					}
				}
			}

			/* 16 Column Grid Widths */
			@for $i from 1 through 16{
				&.width-#{$i}-in-16 {
					$sixteen-col: (16/($i*16))*100%;
					width: $sixteen-col;
					.content:after{
						content: "(#{$sixteen-col})";
					}
				}
			}

			/* 12 Column Grid Offset Left */
			@for $i from 1 through 11{
				&.push-left-#{$i} {
					$twelve-col: ($i/12)*100%;
					margin-left: $twelve-col;
				}
			}			

			/* 12 Column Grid Offset Right */
			@for $i from 1 through 11{
				&.push-right-#{$i} {
					$twelve-col: ($i/12)*100%;
					margin-right: $twelve-col;
				}
			}

			/* 16 Column Grid Offset Left */
			@for $i from 1 through 15{
				&.push-left-#{$i} {
					$twelve-col: ($i/15)*100%;
					margin-left: $twelve-col;
				}
			}

			/* 16 Column Grid Offset Right */
			@for $i from 1 through 15{
				&.push-left-#{$i} {
					$twelve-col: ($i/15)*100%;
					margin-right: $twelve-col;
				}
			}

			/* Percentage Column Grid */
			@for $i from 1 through 100{
				&.width-#{$i}-in-pc {
					width: $i*1%;
				}
			}

			@media screen and (max-width: 767px) {
				&[class*=' width-']{
					width:100%;
					float:none;
				}
			}
		}
		&:after{
			content: "";
			clear: both;
			display: table;
		}
			
	}	
}