/* Yet Another Feckin' Grid System */

.feckin-grid{
	*, 
	*:after, 
	*:before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	max-width: $grid-max-width;
	margin: $std-margin auto;
	@media screen and (max-width: 767px) {
		margin: $std-margin;
	}
	.a-feckin-row{
		display: block;
		position: relative;
		.a-feckin-column{
			margin: $std-margin 0 0 0;
			float:left;
			padding: 0 ($std-padding/2);
			&:after{
				content: "";
				clear: both;
				display: table;
			}
			&.centered{
				margin-left: auto;
				margin-right: auto;
				float:none;
			}

			// include yafgs-12-column
			@import 'yafgs-12-column';

			// include yafgs-16-column
			@import 'yafgs-16-column';

			// include yafgs-%-column
			@import 'yafgs-pc-column';

			@media screen and (max-width: 767px) {
				&[class*=' width-']{
					width:100%;
					float:none;
				}
			}
		}
		&:after{
			content: "";
			clear: both;
			display: table;
		}
			
	}	
}