meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(charset="utf-8")
meta(name="description" content="")
block title
  title Default Title
link(href='https://fonts.googleapis.com/css?family=Lato:400,900,700|Montserrat:400,700|Lora:400,400italic' rel='stylesheet' type='text/css')
link(rel = "stylesheet" href = "/css/yafgs.max.css")
link(rel = "stylesheet" href = "/css/demo/example-styles.css")
