extends ../templates/html.pug

block title
  title 12-Column Nudge Right | #{sitetitle}

block content
  div.the-grid

    include ../templates/partials/home-link.pug

    include ../templates/mixins/columns.pug

    h1 12-Column Nudge Right
    - for (var z = 1; z < 12; z++)
      div.a-row
        div(class="a-column width-12-of-12 nudge-12-right-"+z)
          div.content Nudge Right #{z}
