extends ../templates/html.jade

block title
  title 16-Column Nudge Right | Yet Another Feckin' Grid System

block content
  div.the-grid

    include ../templates/partials/home-link.jade

    include ../templates/mixins/columns.jade

    h1 16-Column Nudge Right
    - for (var z = 1; z < 15; z++)
      div.a-row
        div(class="a-column width-16-of-16 nudge-16-right-"+z)
          div.content Nudge Right #{z}
