extends ../templates/html.pug

block title
  title 16-Column Nudge Left | #{sitetitle}

block content
  div.the-grid

    include ../templates/partials/home-link.pug

    include ../templates/mixins/columns.pug

    h1 16-Column Nudge Left
    - for (var z = 1; z < 15; z++)
      div.a-row
        div(class="a-column width-16-of-16 nudge-16-left-"+z)
          div.content Nudge Left #{z}
