extends ../templates/html.pug

block title
  title %-Column Nudge Right | #{sitetitle}

block content
  div.the-grid

    include ../templates/partials/home-link.pug

    include ../templates/mixins/columns.pug

    h1 %-Column Nudge Right
    - for (var z = 1; z < 100; z++)
      div.a-row
        div(class="a-column width-12-in-pc nudge-pc-right-"+z)
          div.content % Nudge Right #{z}%
