extends ../templates/html.pug

block title
  title %-Column | #{sitetitle}

block content
  div.the-grid

    include ../templates/partials/home-link.pug

    include ../templates/mixins/columns.pug

    h1 %-Columns
    - for (var y = 100; y > 0; y--)
      div.a-row
        div(class="a-column width-"+y+"-in-pc")
          div.content= y
