//Percentage Column Grid
@for $i from 1 through 100{
  &.width-#{$i}-in-pc {
    width: $i*1%;
  }
}

// % Column Grid Nudge Left
@for $i from 1 through 99{
  &.nudge-pc-left-#{$i} {
    $twelve-col: $i*1%;
    margin-left: $twelve-col;
  }
}

// % Column Grid Nudge Right
@for $i from 1 through 99{
  &.nudge-pc-right-#{$i} {
    $twelve-col: $i*1%;
    float:right;
    margin-right: $twelve-col;
  }
}
