// default grid setup values

/* ====== YAFGS Start ====== */

// this sets the max width of the grid, everything else is setup proportional to this width
$grid-max-width-lrg: 1140px;
$grid-max-width-med: 960px;
$grid-max-width-sml: 800px;

//standard spacing
$std-padding: 10px;
$std-margin: 10px;

//font size
$std-font-size:0.8em;
