extends ../templates/html.pug

block title
  title Version 1.x Reference  | #{sitetitle}

block content
  div.the-flex-grid

    include ../templates/partials/home-link.pug

    h1 Version 1.x Reference

    p See <a href="v2.html">here for the newer Version 2.x Reference document.</a>
