extends ../templates/html.pug

block title
  title Version 2.x Reference  | #{sitetitle}

block content
  div.the-flex-grid

    include ../templates/partials/home-link.pug

    h1 Version 2.x Reference

    p Sample
