mixin columns(number, column, centered)
  div.a-feckin-row
    - for (var x = 1; x < number+1; x++)
      if centered
        div(class="a-feckin-column centered width-"+number+"-in-"+column)
          div.content= number
      else if nudge
        div(class="a-feckin-column centered width-"+number+"-in-"+column)
          div.content= number
      else
        div(class="a-feckin-column width-"+number+"-in-"+column)
          div.content= number