extends templates/html.jade

block title
  title Yet Another Feckin' Grid System

block content
  div.the-grid
    include templates/mixins/columns.jade

    span(class="github-ribbon")
      a(href="https://github.com/harrymckillen/yafgs" target="_blank") Fork on GitHub

    h1
      | yet <br>
      | another <br>
      | feckin' <br>
      | grid <br>
      | system <br>

    h2 Demos
    p
      a(href="demos/12-column.html") 12-Columns
    p
      a(href="demos/12-column-nudge-left.html") 12-Columns Nudge Left
    p
      a(href="demos/12-column-nudge-right.html") 12-Columns Nudge Right
    p
      a(href="demos/16-column.html") 16-Columns
    p
      a(href="demos/16-column-nudge-left.html") 16-Columns Nudge Left
    p
      a(href="demos/16-column-nudge-right.html") 16-Columns Nudge Right
    p
      a(href="demos/pc-column.html") %-Columns
    p
      a(href="demos/pc-column-nudge-left.html") %-Columns Nudge Left
    p
      a(href="demos/pc-column-nudge-right.html") %-Columns Nudge Right
    p
      a(href="demos/centering-column.html") Centering Columns

    //- span &copy; Harry McKillen, 2016
