extends ../templates/html.jade

block title
  title 3-Columns with Header and Footer | Yet Another Feckin' Grid System

block content
  div.the-grid

    include ../templates/partials/home-link.jade

    div.a-row
      div.a-column.width-1-of-12
        div.content.height-100

    div.a-row
      div.a-column.width-3-of-12
        div.content.height-600

      div.a-column.width-3-of-12
        div.content.height-600

      div.a-column.width-3-of-12
        div.content.height-600

    div.a-row
      div.a-column.width-1-of-12
        div.content.height-100
