extends ../templates/html.jade

block title
  title 12-Column Nudge Left | Yet Another Feckin' Grid System

block content
  div.feckin-grid

    include ../templates/mixins/columns.jade

    h1 12-Column Nudge Left
    - for (var z = 1; z < 12; z++)
      div.a-feckin-row
        div(class="a-feckin-column width-12-in-12 nudge-12-left-"+z)
          div.content Nudge Left #{z}
