extends ../templates/html.jade

block title
  title %-Column Nudge Left | Yet Another Feckin' Grid System

block content
  div.the-grid

    include ../templates/mixins/columns.jade

    h1 %-Column Nudge Left
    - for (var z = 1; z < 100; z++)
      div.a-row
        div(class="a-column width-12-in-pc nudge-pc-left-"+z)
          div.content % Nudge Left #{z}%
